<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrlx.cmsserver.mapper.TeacherMapper">
    <resultMap id="teachermap" type="com.yrlx.cmsserver.entity.Teacher2">
        <result property="id" column="tid" />
        <result property="name" column="tname" />
        <!-- 复杂的属性，需要单独处理
           对象：association
           集合：collection

           javaType :是指属性类型
           ofType:集合中元素类型
        -->
        <collection property="students" ofType="com.yrlx.cmsserver.entity.Student2">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>
    <select id="getTeacherStudents" parameterType="int" resultMap="teachermap">
        SELECT t.id AS tid,t.name AS tname, s.id AS sid,s.name AS sname FROM student s , teacher t WHERE s.tid = t.id and t.id = #{id}
    </select>
</mapper>